<header>
  <h1>Car Info Management System </h1>
  </header>
  <!-- <nav> -->
  <!-- <ul> -->
    <!-- <button (click)="OnClick()">Home</button> -->
    &nbsp; &nbsp;&nbsp;&nbsp;
    <!-- <button (click)="OnClick()">Car Summary</button> -->
  <!-- </ul> -->
  <!-- </nav> -->
  <main>
   <!----- <div class="container">  </div>---->
  <!--<body>-------------->
    <!--<img src ="../assets/carimage.jpg">-------->
  <!-----</body>-------------------->
  <!-- root component -->
  <!-- router-outlet is a placehoder with components view are render request at time -->
  <router-outlet></router-outlet>
  <body>
    <!-- <button (click)="OnPress()">Login</button> &nbsp; &nbsp; -->
    <!-- <a href="http://localhost:4200/login">Login</a> -->
  </body>
  </main>
  
  <footer>
  <h4>All Rights Reserved to Team 5 @ 2022.</h4>
  </footer>
