<header>
  <h1>Car Info Management System </h1>
  </header>
  <nav>
  <ul>
    <button (click)="OnClick()">Home</button>
    &nbsp; &nbsp;
    <button (click)="OnPress()">Login</button>
  </ul>
  </nav>
  <main>
   <!----- <div class="container">  </div>---->
  <!--<body>-------------->
    <!--<img src ="../assets/carimage.jpg">-------->
  <!-----</body>-------------------->
  <!-- root component -->
  <!-- router-outlet is a placehoder with components view are render request at time -->
  <router-outlet></router-outlet>
  </main>
  <footer>
  <h4>All Rights Reserved @ 2022.</h4>
  </footer>