<div>
  <button (click)="  OnClickBack()"> Back </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  <button (click)="  OnClickGo()"> Discontinued Cars</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  <button (click)="OnClickAddCar()">+ Add New Car</button>  &nbsp;&nbsp;&nbsp;
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for car by its model">
</div>
 

  
<br>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Model</th>
      <th>Manufacturer Id</th>
      <th>Type</th>
      <th>Engine</th>
      <th>BHP</th>
      <th>Transmission Type</th>
      <th>Mileage</th>
      <th>Seat</th>
      <th>Air Bag Deatils</th>
      <th>Boot Space</th>
      <th>Price</th>
    </tr>
  </thead>

    <tbody>
      <tr *ngFor="let item of cars | filter:searchText">
        <td>{{item.id}}</td>
        <td><input class="input" type="text" [(ngModel)]="item.model" [disabled]="!item.isEditable"/></td>
        <td><input class="input" type="text" [(ngModel)]="item.manufracturerId" [disabled]="!item.isEditable"/></td>
        <td><input class="input" type="text" [(ngModel)]="item.type" [disabled]="!item.isEditable"/></td>
        <td><input class="input" type="text" [(ngModel)]="item.engine" [disabled]="!item.isEditable"/></td>
        <td><input class="input" type="number" [(ngModel)]="item.bhp" [disabled]="!item.isEditable"/></td>
        <td><input class="input" type="text" [(ngModel)]="item.transmissionId" [disabled]="!item.isEditable"/></td>
        <td><input class="input" type="number" [(ngModel)]="item.mileage" [disabled]="!item.isEditable"/></td>
        <td><input class="input" type="number" [(ngModel)]="item.seat" [disabled]="!item.isEditable"/></td>
        <td><input class="input" type="text" [(ngModel)]="item.airBagDetails" [disabled]="!item.isEditable"/></td>
        <td><input class="input" type="text" [(ngModel)]="item.bootSpace" [disabled]="!item.isEditable"/></td>
        <td><input class="input" type="number" [(ngModel)]="item.price" [disabled]="!item.isEditable"/></td>
        
          <td><button class="operations" (click)="RemoveCar(item.model)">Delete</button></td>
        <td> 
          <button class="operations" (click)="item.isEditable=!item.isEditable" *ngIf="!item.isEditable">Edit</button>
          <button *ngIf="item.isEditable" (click)="EditCar(item.id,item.model,item.manufracturerId,item.type,item.engine,item.bhp,item.transmissionId,item.mileage,item.seat,item.airBagDetails,item.bootSpace,item.price)">Save</button>

       </td>
    </tr>

    <!-- <tr *ngFor="let item of cars">
      <td>{{item.id}}</td>
      <td>{{item.model}}</td>
      <td>{{item.manufracturerId}}</td>
      <td>{{item.type}}</td>
      <td>{{item.engine}}</td>
      <td>{{item.bhp}}</td>
      <td>{{item.transmissionId}}</td>
      <td>{{item.mileage}}</td>
      <td>{{item.seat}}</td>
      <td>{{item.airBagDetails}}</td>
      <td>{{item.bootSpace}}</td>
      <td>{{item.price}}</td>
    </tr> -->
  </tbody>
  </table>
</div>
  <br>
  <br>


