<!-- 
<div>
    <table>
      <tr class="first">
        <div>
        <td>CustUsername</td>
      </div>
      <div>
        <td><input class="inp" type="text" [(ngModel)]="user.userName"></td>
      </div>
      </tr>
      <tr class="second">
        <div>
        <td>Password</td>
      </div>
      <div>
        <td><input class="inp" type="password" [(ngModel)]="user.password"></td>
      </div>
      </tr>
       
        <tr class="third">
            <button (click)="Validate()">Sign In</button> 
            <button (click)="GotoUser()"> Back to user </button>
        </tr>
    
      <tr>
        <td colspan="1">
          <span style="color: red;">{{errMsg}}</span>
        </td>
      </tr>
    </table>
  </div> -->
  
  
<div class="wrapper">
  <table>
    <tr class="inputWrapper">
      <div>
      <td>CustUsername</td>
    </div>
    <div>
      <td><input class="inp" type="text" [(ngModel)]="user.userName"></td>
    </div>
    </tr>
    <tr class="inputWrapper">
      <div>
      <td>Password</td>
    </div>
    <div>
      <td><input class="inp" type="password" [(ngModel)]="user.password"></td>
    </div>
    </tr>
     
     
    <tr class="buttonstyle">
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<button class="submitButton" id="new1" (click)="Validate()">Sign In</button> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      <button class="submitButton" id="new2" (click)="GotoUser()"> Back to user </button>
    </tr>

    <tr>
      <td colspan="1">
        <span style="color: red;">{{errMsg}}</span>
      </td>
    </tr>
  </table>
</div>

