.wrapper {  
  max-width: 400px;  
  width: 100%;  
  padding: 30px;  
  border-radius: 30px;  
  background: #fff;  
  box-shadow: 0 35px 68px 0 rgba(136, 174, 222, 0.42), inset 0 -8px 16px 0 #b9d1f1;  
}  
.inputWrapper {  
  display: flex;  
  flex-direction: column;  
  align-items: flex-start;  
  justify-content: flex-start;  
  width: 100%;  
  margin: 0 0 16px 0;  
}  
.inputWrapper label {  
  margin: 0 0 4px 0;  
}  
.inputWrapper input {  
  width: 90%;  
  padding: 8px 16px;  
  font-size: 16px;  
  border-radius: 8px;  
  border: 1px solid #b5d4ff;  
  color: #576d95;  
  outline-color: #236eb9;  
} 

.inputWrapper select {  
  width: 90%;  
  padding: 8px 16px;  
  font-size: 16px;  
  border-radius: 8px;  
  border: 1px solid #b5d4ff;  
  color: #576d95;  
  outline-color: #236eb9;  
} 

.submitButton {  
  border: none;  
  padding: 12px 30px;  
  margin: 10px auto;  
  display: inline;  
  font-size: 16px;  
  color: #fff;  
  border-radius: 8px;  
  background-image: linear-gradient(90deg, #5fc7ff 50%, #43a8ff 100%);  
  background-size: 200% 100%;  
  background-position: 100% 100%;  
  transition: background-position 256ms;  
  will-change: background-position;  
  cursor: pointer;  
}  
.submitButton:hover {  
  background-position: 0% 200%;  
}

div {
  margin-left: 35%;
  /* margin-top: 5%; */
}
.role {
  margin-left: 35%;
}
#new
{
margin-left: 6pc;
}

.first {
  font-family: serif;
}
.second {
  font-family: serif;
}
.buttonstyle{
  display: inline;
  margin: auto;
}




