li
{
    text-align:left;
    text-decoration-color:black;
    font-family: Georgia;
   font-size: 18px;

}
h2
{
    text-align:left;
    text-decoration-color:black;
}
.logout-button
{
    margin-right: 20px;
    float:right;
}
button{
    border: none;  
    padding: 12px 30px;  
    margin: 10px auto;  
    display: inline;  
    font-size: 20px; 
    font: weight 400px;;
    color: #fff;
    font-weight:200;  
    border-radius: 8px;  
    background-image: linear-gradient(90deg, #5fc7ff 50%, #192ea9 100%);  
    background-size: 200% 100%;  
    background-position: 100% 100%;  
    transition: background-position 256ms;  
    will-change: background-position;  
    cursor: pointer;  
}
button:hover{
	background-position: 0% 200%; 
}