<div>
    <table>
      <tr>
        <td>Username</td>
        <td><input type="text" [(ngModel)]="user.userName"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" [(ngModel)]="user.password"></td>
      </tr>
       
        <tr>
        <td colspan="2">
          <button (click)="Validate()">Sign In</button>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <span style="color: red;">{{errMsg}}</span>
        </td>
      </tr>
    </table>
  </div>
